@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 70% 11%;
    --foreground: 220 20% 90%;
    --card: 240 50% 16%;
    --card-foreground: 220 20% 90%;
    --popover: 240 50% 16%;
    --popover-foreground: 220 20% 90%;
    --primary: 195 80% 65%;
    --primary-foreground: 240 70% 11%;
    --secondary: 240 40% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 40% 25%;
    --muted-foreground: 220 20% 70%;
    --accent: 240 40% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 80% 50%;
    --input: 240 40% 25%;
    --ring: 195 80% 75%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 70% 11%;
    --foreground: 220 20% 90%;
    --card: 240 50% 16%;
    --card-foreground: 220 20% 90%;
    --popover: 240 50% 16%;
    --popover-foreground: 220 20% 90%;
    --primary: 195 80% 65%;
    --primary-foreground: 240 70% 11%;
    --secondary: 240 40% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 40% 25%;
    --muted-foreground: 220 20% 70%;
    --accent: 240 40% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 195 80% 50%;
    --input: 240 40% 25%;
    --ring: 195 80% 75%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
